<!-- Place Visit Details -->

<h1><%= @place["name"]%></h1>

<p><a href="/places"> Back to the list of Place I have Visited</a></p>


<ul>

  <% for post in @posts %>
    <li>
      <p> <%= post["title"] %></p>
      <p> <%= post["posted_on"] %></p>
      <p> <%= post["description"] %></p>
    </li>
  <%end%>
</ul>

<p> Show the post details </p>


<a href="/posts/new?place_id=<%=@place["id"]%>">Add a New Post</a>

